* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(puntkommaatjes.png);
  background-color: #BF9534;
  font-family: 'Bree Serif', serif;
}

header {
  background-image: url(puntkommaatjes.png);
  background-position: 0 0;
  background-color: #5D8285;
  position: absolute;
  height: 50px;
  width: 100%;
}

h1 {
  line-height: 30px;
  font-size: 30px;
  padding: 10px;
}

#puntkomma {
  font-size: 70px;
  color: black;
  /*width: 100%;*/
  /*top: 120px;*/
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

#puntkommaatje {
  color: #5D8285;
}

#puntkomma {
  font-family: "Comic Sans", "Comic Sans MS", cursive;

  -ms-transform: rotate(70deg); /* IE 9 */
  -webkit-transform: rotate(70deg); /* Chrome, Safari, Opera */
  transform: rotate(70deg);
  bottom: 190px;
  right: 50px;

}